KingMarket.Web/Service References/SaleOrderService/SaleOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/SaleOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/SaleOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/SaleOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleOrderService_GetSaleOrdersByCustomerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrdersByCustomerId" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetSaleOrdersByCustomerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrdersByCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetSaleOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrder" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetSaleOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CreateSaleOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSaleOrder" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CreateSaleOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSaleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_CreateSaleOrder_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="ISaleOrderService">
    <wsdl:operation name="GetSaleOrdersByCustomerId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrdersByCustomerId" message="tns:ISaleOrderService_GetSaleOrdersByCustomerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrdersByCustomerIdResponse" message="tns:ISaleOrderService_GetSaleOrdersByCustomerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrder" message="tns:ISaleOrderService_GetSaleOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrderResponse" message="tns:ISaleOrderService_GetSaleOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSaleOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/CreateSaleOrder" message="tns:ISaleOrderService_CreateSaleOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/CreateSaleOrderResponse" message="tns:ISaleOrderService_CreateSaleOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISaleOrderService/CreateSaleOrderGeneralExceptionFault" name="GeneralExceptionFault" message="tns:ISaleOrderService_CreateSaleOrder_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleOrderService" type="tns:ISaleOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSaleOrdersByCustomerId">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/GetSaleOrdersByCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleOrder">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/GetSaleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSaleOrder">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/CreateSaleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleOrderService">
    <wsdl:port name="BasicHttpBinding_ISaleOrderService" binding="tns:BasicHttpBinding_ISaleOrderService">
      <soap:address location="http://localhost:55981/SaleOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>