KingMarket.Web/Service References/SaleOrderDetailService/SaleOrderDetailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleOrderDetailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/SaleOrderDetailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/SaleOrderDetailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/SaleOrderDetailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleOrderDetailService_GetSaleOrderDetailsBySaleOrderId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrderDetailsBySaleOrderId" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderDetailService_GetSaleOrderDetailsBySaleOrderId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrderDetailsBySaleOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderDetailService_GetSaleOrderDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrderDetail" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderDetailService_GetSaleOrderDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrderDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleOrderDetailService">
    <wsdl:operation name="GetSaleOrderDetailsBySaleOrderId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderDetailService/GetSaleOrderDetailsBySaleOrderId" message="tns:ISaleOrderDetailService_GetSaleOrderDetailsBySaleOrderId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderDetailService/GetSaleOrderDetailsBySaleOrderIdResponse" message="tns:ISaleOrderDetailService_GetSaleOrderDetailsBySaleOrderId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleOrderDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderDetailService/GetSaleOrderDetail" message="tns:ISaleOrderDetailService_GetSaleOrderDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderDetailService/GetSaleOrderDetailResponse" message="tns:ISaleOrderDetailService_GetSaleOrderDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISaleOrderDetailService" type="tns:ISaleOrderDetailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSaleOrderDetailsBySaleOrderId">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderDetailService/GetSaleOrderDetailsBySaleOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleOrderDetail">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderDetailService/GetSaleOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleOrderDetailService">
    <wsdl:port name="BasicHttpBinding_ISaleOrderDetailService" binding="tns:BasicHttpBinding_ISaleOrderDetailService">
      <soap:address location="http://localhost:55981/SaleOrderDetailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>