KingMarket.Web/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByEmail" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployeeByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_CreateEmployee_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_EditEmployee_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q2:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployee_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q3:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployees" message="tns:IEmployeeService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesResponse" message="tns:IEmployeeService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployee" message="tns:IEmployeeService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeResponse" message="tns:IEmployeeService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByEmail" message="tns:IEmployeeService_GetEmployeeByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeByEmailResponse" message="tns:IEmployeeService_GetEmployeeByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/CreateEmployee" message="tns:IEmployeeService_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/CreateEmployeeResponse" message="tns:IEmployeeService_CreateEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/CreateEmployeeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IEmployeeService_CreateEmployee_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/EditEmployee" message="tns:IEmployeeService_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/EditEmployeeResponse" message="tns:IEmployeeService_EditEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/EditEmployeeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IEmployeeService_EditEmployee_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployee" message="tns:IEmployeeService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeResponse" message="tns:IEmployeeService_DeleteEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IEmployeeService_DeleteEmployee_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByEmail">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/EditEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:55981/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>