KingMarket.Web/Service References/UnitMeasureService/UnitMeasureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnitMeasureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/UnitMeasureService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/UnitMeasureService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/UnitMeasureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnitMeasureService_GetUnitMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitMeasures" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_GetUnitMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_GetUnitMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitMeasure" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_GetUnitMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_CreateUnitMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUnitMeasure" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_CreateUnitMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUnitMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_CreateUnitMeasure_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_EditUnitMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUnitMeasure" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_EditUnitMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUnitMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_EditUnitMeasure_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q2:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_DeleteUnitMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUnitMeasure" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_DeleteUnitMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUnitMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="IUnitMeasureService_DeleteUnitMeasure_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q3:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="IUnitMeasureService">
    <wsdl:operation name="GetUnitMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitMeasureService/GetUnitMeasures" message="tns:IUnitMeasureService_GetUnitMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitMeasureService/GetUnitMeasuresResponse" message="tns:IUnitMeasureService_GetUnitMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitMeasureService/GetUnitMeasure" message="tns:IUnitMeasureService_GetUnitMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitMeasureService/GetUnitMeasureResponse" message="tns:IUnitMeasureService_GetUnitMeasure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUnitMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitMeasureService/CreateUnitMeasure" message="tns:IUnitMeasureService_CreateUnitMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitMeasureService/CreateUnitMeasureResponse" message="tns:IUnitMeasureService_CreateUnitMeasure_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUnitMeasureService/CreateUnitMeasureGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IUnitMeasureService_CreateUnitMeasure_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUnitMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitMeasureService/EditUnitMeasure" message="tns:IUnitMeasureService_EditUnitMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitMeasureService/EditUnitMeasureResponse" message="tns:IUnitMeasureService_EditUnitMeasure_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUnitMeasureService/EditUnitMeasureGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IUnitMeasureService_EditUnitMeasure_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUnitMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnitMeasureService/DeleteUnitMeasure" message="tns:IUnitMeasureService_DeleteUnitMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnitMeasureService/DeleteUnitMeasureResponse" message="tns:IUnitMeasureService_DeleteUnitMeasure_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUnitMeasureService/DeleteUnitMeasureGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IUnitMeasureService_DeleteUnitMeasure_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnitMeasureService" type="tns:IUnitMeasureService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUnitMeasures">
      <soap:operation soapAction="http://tempuri.org/IUnitMeasureService/GetUnitMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitMeasure">
      <soap:operation soapAction="http://tempuri.org/IUnitMeasureService/GetUnitMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUnitMeasure">
      <soap:operation soapAction="http://tempuri.org/IUnitMeasureService/CreateUnitMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditUnitMeasure">
      <soap:operation soapAction="http://tempuri.org/IUnitMeasureService/EditUnitMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUnitMeasure">
      <soap:operation soapAction="http://tempuri.org/IUnitMeasureService/DeleteUnitMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnitMeasureService">
    <wsdl:port name="BasicHttpBinding_IUnitMeasureService" binding="tns:BasicHttpBinding_IUnitMeasureService">
      <soap:address location="http://localhost:55981/UnitMeasureService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>