KingMarket.Web/Service References/ProductPhotoService/ProductPhotoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55981/ProductPhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
  <xs:element name="GetProductPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" minOccurs="0" name="GetProductPhotoResult" nillable="true" type="q1:ProductPhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>