KingMarket.Web/Service References/ProductPhotoService/ProductPhotoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductPhotoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/ProductPhotoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/ProductPhotoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/ProductPhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductPhotoService_GetProductPhotosByProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotosByProductId" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotosByProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotosByProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotosByProductIdNoContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotosByProductIdNoContent" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotosByProductIdNoContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotosByProductIdNoContentResponse" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotosOnlyDefault_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotosOnlyDefault" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotosOnlyDefault_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotosOnlyDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhoto" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotoDefaultByProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotoDefaultByProductId" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_GetProductPhotoDefaultByProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductPhotoDefaultByProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_DeleteProductPhotosByProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductPhotosByProductId" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_DeleteProductPhotosByProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductPhotosByProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_DeleteProductPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductPhoto" />
  </wsdl:message>
  <wsdl:message name="IProductPhotoService_DeleteProductPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductPhotoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductPhotoService">
    <wsdl:operation name="GetProductPhotosByProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotosByProductId" message="tns:IProductPhotoService_GetProductPhotosByProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotosByProductIdResponse" message="tns:IProductPhotoService_GetProductPhotosByProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPhotosByProductIdNoContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotosByProductIdNoContent" message="tns:IProductPhotoService_GetProductPhotosByProductIdNoContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotosByProductIdNoContentResponse" message="tns:IProductPhotoService_GetProductPhotosByProductIdNoContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPhotosOnlyDefault">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotosOnlyDefault" message="tns:IProductPhotoService_GetProductPhotosOnlyDefault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotosOnlyDefaultResponse" message="tns:IProductPhotoService_GetProductPhotosOnlyDefault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhoto" message="tns:IProductPhotoService_GetProductPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotoResponse" message="tns:IProductPhotoService_GetProductPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductPhotoDefaultByProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotoDefaultByProductId" message="tns:IProductPhotoService_GetProductPhotoDefaultByProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/GetProductPhotoDefaultByProductIdResponse" message="tns:IProductPhotoService_GetProductPhotoDefaultByProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductPhotosByProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/DeleteProductPhotosByProductId" message="tns:IProductPhotoService_DeleteProductPhotosByProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/DeleteProductPhotosByProductIdResponse" message="tns:IProductPhotoService_DeleteProductPhotosByProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductPhotoService/DeleteProductPhoto" message="tns:IProductPhotoService_DeleteProductPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductPhotoService/DeleteProductPhotoResponse" message="tns:IProductPhotoService_DeleteProductPhoto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductPhotoService" type="tns:IProductPhotoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductPhotosByProductId">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/GetProductPhotosByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPhotosByProductIdNoContent">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/GetProductPhotosByProductIdNoContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPhotosOnlyDefault">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/GetProductPhotosOnlyDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPhoto">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/GetProductPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductPhotoDefaultByProductId">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/GetProductPhotoDefaultByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductPhotosByProductId">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/DeleteProductPhotosByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductPhoto">
      <soap:operation soapAction="http://tempuri.org/IProductPhotoService/DeleteProductPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductPhotoService">
    <wsdl:port name="BasicHttpBinding_IProductPhotoService" binding="tns:BasicHttpBinding_IProductPhotoService">
      <soap:address location="http://localhost:55981/ProductPhotoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>