KingMarket.Web/Service References/BuyOrderService/BuyOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuyOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/BuyOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/BuyOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/BuyOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBuyOrderService_GetBuyOrdersByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyOrdersByUserId" />
  </wsdl:message>
  <wsdl:message name="IBuyOrderService_GetBuyOrdersByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyOrdersByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyOrderService_GetBuyOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyOrder" />
  </wsdl:message>
  <wsdl:message name="IBuyOrderService_GetBuyOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuyOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyOrderService_CreateBuyOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBuyOrder" />
  </wsdl:message>
  <wsdl:message name="IBuyOrderService_CreateBuyOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBuyOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBuyOrderService_CreateBuyOrder_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="IBuyOrderService">
    <wsdl:operation name="GetBuyOrdersByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyOrderService/GetBuyOrdersByUserId" message="tns:IBuyOrderService_GetBuyOrdersByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyOrderService/GetBuyOrdersByUserIdResponse" message="tns:IBuyOrderService_GetBuyOrdersByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuyOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyOrderService/GetBuyOrder" message="tns:IBuyOrderService_GetBuyOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyOrderService/GetBuyOrderResponse" message="tns:IBuyOrderService_GetBuyOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBuyOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBuyOrderService/CreateBuyOrder" message="tns:IBuyOrderService_CreateBuyOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBuyOrderService/CreateBuyOrderResponse" message="tns:IBuyOrderService_CreateBuyOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBuyOrderService/CreateBuyOrderGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IBuyOrderService_CreateBuyOrder_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBuyOrderService" type="tns:IBuyOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBuyOrdersByUserId">
      <soap:operation soapAction="http://tempuri.org/IBuyOrderService/GetBuyOrdersByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuyOrder">
      <soap:operation soapAction="http://tempuri.org/IBuyOrderService/GetBuyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBuyOrder">
      <soap:operation soapAction="http://tempuri.org/IBuyOrderService/CreateBuyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuyOrderService">
    <wsdl:port name="BasicHttpBinding_IBuyOrderService" binding="tns:BasicHttpBinding_IBuyOrderService">
      <soap:address location="http://localhost:55981/BuyOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>