KingMarket.Web/Service References/ProductTypeService/ProductTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductTypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/ProductTypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/ProductTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/ProductTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductTypeService_GetProductTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTypes" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_GetProductTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_GetProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductType" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_GetProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_CreateProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductType" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_CreateProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_EditProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProductType" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_EditProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_DeleteProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductType" />
  </wsdl:message>
  <wsdl:message name="IProductTypeService_DeleteProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductTypeService">
    <wsdl:operation name="GetProductTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductTypeService/GetProductTypes" message="tns:IProductTypeService_GetProductTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductTypeService/GetProductTypesResponse" message="tns:IProductTypeService_GetProductTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductTypeService/GetProductType" message="tns:IProductTypeService_GetProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductTypeService/GetProductTypeResponse" message="tns:IProductTypeService_GetProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductTypeService/CreateProductType" message="tns:IProductTypeService_CreateProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductTypeService/CreateProductTypeResponse" message="tns:IProductTypeService_CreateProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductTypeService/EditProductType" message="tns:IProductTypeService_EditProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductTypeService/EditProductTypeResponse" message="tns:IProductTypeService_EditProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductTypeService/DeleteProductType" message="tns:IProductTypeService_DeleteProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductTypeService/DeleteProductTypeResponse" message="tns:IProductTypeService_DeleteProductType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductTypeService" type="tns:IProductTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductTypes">
      <soap:operation soapAction="http://tempuri.org/IProductTypeService/GetProductTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductType">
      <soap:operation soapAction="http://tempuri.org/IProductTypeService/GetProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductType">
      <soap:operation soapAction="http://tempuri.org/IProductTypeService/CreateProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProductType">
      <soap:operation soapAction="http://tempuri.org/IProductTypeService/EditProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductType">
      <soap:operation soapAction="http://tempuri.org/IProductTypeService/DeleteProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductTypeService">
    <wsdl:port name="BasicHttpBinding_IProductTypeService" binding="tns:BasicHttpBinding_IProductTypeService">
      <soap:address location="http://localhost:55981/ProductTypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>