KingMarket.Web/Service References/CartItemService/CartItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55981/CartItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
  <xs:element name="GetCartItemsByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemsByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" minOccurs="0" name="GetCartItemsByCustomerIdResult" nillable="true" type="q1:ArrayOfCartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" minOccurs="0" name="GetCartItemResult" nillable="true" type="q2:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemByProductIdAndCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemByProductIdAndCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" minOccurs="0" name="GetCartItemByProductIdAndCustomerIdResult" nillable="true" type="q3:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" minOccurs="0" name="myObject" nillable="true" type="q4:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCartItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" minOccurs="0" name="myObject" nillable="true" type="q5:CartItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCartItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>