KingMarket.Web/Service References/CartItemService/CartItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CartItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/CartItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/CartItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/CartItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartItemService_GetCartItemsByCustomerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemsByCustomerId" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_GetCartItemsByCustomerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemsByCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_GetCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItem" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_GetCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_GetCartItemByProductIdAndCustomerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemByProductIdAndCustomerId" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_GetCartItemByProductIdAndCustomerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemByProductIdAndCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_CreateCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCartItem" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_CreateCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_CreateCartItem_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_EditCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCartItem" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_EditCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCartItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_EditCartItem_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q2:GeneralException" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_DeleteCartItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCartItem" />
  </wsdl:message>
  <wsdl:message name="ICartItemService_DeleteCartItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCartItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartItemService">
    <wsdl:operation name="GetCartItemsByCustomerId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartItemService/GetCartItemsByCustomerId" message="tns:ICartItemService_GetCartItemsByCustomerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartItemService/GetCartItemsByCustomerIdResponse" message="tns:ICartItemService_GetCartItemsByCustomerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartItemService/GetCartItem" message="tns:ICartItemService_GetCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartItemService/GetCartItemResponse" message="tns:ICartItemService_GetCartItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartItemByProductIdAndCustomerId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartItemService/GetCartItemByProductIdAndCustomerId" message="tns:ICartItemService_GetCartItemByProductIdAndCustomerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartItemService/GetCartItemByProductIdAndCustomerIdResponse" message="tns:ICartItemService_GetCartItemByProductIdAndCustomerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartItemService/CreateCartItem" message="tns:ICartItemService_CreateCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartItemService/CreateCartItemResponse" message="tns:ICartItemService_CreateCartItem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICartItemService/CreateCartItemGeneralExceptionFault" name="GeneralExceptionFault" message="tns:ICartItemService_CreateCartItem_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartItemService/EditCartItem" message="tns:ICartItemService_EditCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartItemService/EditCartItemResponse" message="tns:ICartItemService_EditCartItem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICartItemService/EditCartItemGeneralExceptionFault" name="GeneralExceptionFault" message="tns:ICartItemService_EditCartItem_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartItemService/DeleteCartItem" message="tns:ICartItemService_DeleteCartItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartItemService/DeleteCartItemResponse" message="tns:ICartItemService_DeleteCartItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICartItemService" type="tns:ICartItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCartItemsByCustomerId">
      <soap:operation soapAction="http://tempuri.org/ICartItemService/GetCartItemsByCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItem">
      <soap:operation soapAction="http://tempuri.org/ICartItemService/GetCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItemByProductIdAndCustomerId">
      <soap:operation soapAction="http://tempuri.org/ICartItemService/GetCartItemByProductIdAndCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCartItem">
      <soap:operation soapAction="http://tempuri.org/ICartItemService/CreateCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditCartItem">
      <soap:operation soapAction="http://tempuri.org/ICartItemService/EditCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCartItem">
      <soap:operation soapAction="http://tempuri.org/ICartItemService/DeleteCartItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartItemService">
    <wsdl:port name="BasicHttpBinding_ICartItemService" binding="tns:BasicHttpBinding_ICartItemService">
      <soap:address location="http://localhost:55981/CartItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>