KingMarket.Web/Service References/DocumentTypeService/DocumentTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentTypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/DocumentTypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/DocumentTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/DocumentTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentTypeService_GetDocumentTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTypes" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_GetDocumentTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_GetDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentType" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_GetDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_CreateDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentType" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_CreateDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_CreateDocumentType_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_EditDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDocumentType" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_EditDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_EditDocumentType_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q2:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_DeleteDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentType" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_DeleteDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentTypeService_DeleteDocumentType_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q3:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="IDocumentTypeService">
    <wsdl:operation name="GetDocumentTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentTypeService/GetDocumentTypes" message="tns:IDocumentTypeService_GetDocumentTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentTypeService/GetDocumentTypesResponse" message="tns:IDocumentTypeService_GetDocumentTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentType">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentTypeService/GetDocumentType" message="tns:IDocumentTypeService_GetDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentTypeService/GetDocumentTypeResponse" message="tns:IDocumentTypeService_GetDocumentType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentType">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentTypeService/CreateDocumentType" message="tns:IDocumentTypeService_CreateDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentTypeService/CreateDocumentTypeResponse" message="tns:IDocumentTypeService_CreateDocumentType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentTypeService/CreateDocumentTypeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IDocumentTypeService_CreateDocumentType_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDocumentType">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentTypeService/EditDocumentType" message="tns:IDocumentTypeService_EditDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentTypeService/EditDocumentTypeResponse" message="tns:IDocumentTypeService_EditDocumentType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentTypeService/EditDocumentTypeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IDocumentTypeService_EditDocumentType_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentType">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentTypeService/DeleteDocumentType" message="tns:IDocumentTypeService_DeleteDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentTypeService/DeleteDocumentTypeResponse" message="tns:IDocumentTypeService_DeleteDocumentType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentTypeService/DeleteDocumentTypeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IDocumentTypeService_DeleteDocumentType_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentTypeService" type="tns:IDocumentTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentTypes">
      <soap:operation soapAction="http://tempuri.org/IDocumentTypeService/GetDocumentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentType">
      <soap:operation soapAction="http://tempuri.org/IDocumentTypeService/GetDocumentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentType">
      <soap:operation soapAction="http://tempuri.org/IDocumentTypeService/CreateDocumentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditDocumentType">
      <soap:operation soapAction="http://tempuri.org/IDocumentTypeService/EditDocumentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentType">
      <soap:operation soapAction="http://tempuri.org/IDocumentTypeService/DeleteDocumentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentTypeService">
    <wsdl:port name="BasicHttpBinding_IDocumentTypeService" binding="tns:BasicHttpBinding_IDocumentTypeService">
      <soap:address location="http://localhost:55981/DocumentTypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>