KingMarket.Web/Service References/EmployeeTypeService/EmployeeTypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeTypeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55981/EmployeeTypeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55981/EmployeeTypeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55981/EmployeeTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeTypeService_GetEmployeeTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypes" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_GetEmployeeTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_GetEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_GetEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_CreateEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_CreateEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_CreateEmployeeType_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q1:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_EditEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_EditEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_EditEmployeeType_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q2:GeneralException" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_DeleteEmployeeType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeType" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_DeleteEmployeeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeTypeService_DeleteEmployeeType_GeneralExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/KingMarket.Model.Models" name="detail" element="q3:GeneralException" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeTypeService">
    <wsdl:operation name="GetEmployeeTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTypeService/GetEmployeeTypes" message="tns:IEmployeeTypeService_GetEmployeeTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTypeService/GetEmployeeTypesResponse" message="tns:IEmployeeTypeService_GetEmployeeTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTypeService/GetEmployeeType" message="tns:IEmployeeTypeService_GetEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTypeService/GetEmployeeTypeResponse" message="tns:IEmployeeTypeService_GetEmployeeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTypeService/CreateEmployeeType" message="tns:IEmployeeTypeService_CreateEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTypeService/CreateEmployeeTypeResponse" message="tns:IEmployeeTypeService_CreateEmployeeType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeTypeService/CreateEmployeeTypeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IEmployeeTypeService_CreateEmployeeType_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTypeService/EditEmployeeType" message="tns:IEmployeeTypeService_EditEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTypeService/EditEmployeeTypeResponse" message="tns:IEmployeeTypeService_EditEmployeeType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeTypeService/EditEmployeeTypeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IEmployeeTypeService_EditEmployeeType_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeTypeService/DeleteEmployeeType" message="tns:IEmployeeTypeService_DeleteEmployeeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeTypeService/DeleteEmployeeTypeResponse" message="tns:IEmployeeTypeService_DeleteEmployeeType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeTypeService/DeleteEmployeeTypeGeneralExceptionFault" name="GeneralExceptionFault" message="tns:IEmployeeTypeService_DeleteEmployeeType_GeneralExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeTypeService" type="tns:IEmployeeTypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeTypes">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTypeService/GetEmployeeTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeType">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTypeService/GetEmployeeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployeeType">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTypeService/CreateEmployeeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditEmployeeType">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTypeService/EditEmployeeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeType">
      <soap:operation soapAction="http://tempuri.org/IEmployeeTypeService/DeleteEmployeeType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralExceptionFault">
        <soap:fault use="literal" name="GeneralExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeTypeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeTypeService" binding="tns:BasicHttpBinding_IEmployeeTypeService">
      <soap:address location="http://localhost:55981/EmployeeTypeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>